<h2>Logged accounts</h2>

  <div class="data">
    <table>
      <tr class="itens">
        <td>Id</td>
        <td>Name</td>
        <td>User Name</td>
        <td>Email</td>
      </tr>
  
      <tr *ngFor="let forUser of user">
        <td>{{forUser.id}}</td>
        <td>{{forUser.name}}</td>
        <td>{{forUser.username}}</td>
        <td>{{forUser.email}}</td>
      </tr>
    </table>
  
    <div class="container">
      <div class="count">
        <span>Number of Users:</span>
        <p>{{user.length}}</p>
      </div>
  
      <div class="svg">
        <img [src] ="ImagePath" 
        style="width: 700px;height: 500px;"><img>
      </div>  
    </div>
    
  </div>  


